@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Base layer styles */
@layer base {
  /* Styling scrollbar */
  ::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
  }

  /* Styling slider thumb */
  ::-webkit-scrollbar-thumb {
    background: #a7a7a7; /* Background color of the thumb */
    border-radius: 6px; /* Border radius of the thumb */
  }
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 30px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #3f3f3f 80%, #32323200);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
